
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1e2d3b;
}

header {
    background-color: #2e3a46;
}

header .ms_img-container {
    width: 61px;
    overflow: hidden;
}

header .ms_img-container img {
    width: 200px;
    padding: 10px 0px
}

main {
    padding: 50px 0px;
}

.search-bar {
    display: flex;
    background-color: #2e3a46;
    padding: 20px;
}

.search-bar input {
    width: 40%;
    padding: 0px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
    
.search-bar > div {
    width: 30%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.search-bar label {
    width: 60px;
    text-align: end;
    margin-right: 10px;
}

.search-bar select {
    width: calc(100% - 60px);
    max-width: 200px;
    padding: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.ms_disc-box {
    width: 100%;
    background-color: #2e3a46;
}

.ms_disc-box .ms_scale-1-2 {
    width: 100%;
    padding-top: 182%;
    position: relative;
    top: 0;
    left: 0;
}

.ms_disc-box .ms_scale-1-2 > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms_disc-box .ms_scale-1-2 .ms_scale-1-1 {
    width: 100%;
    padding-top: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.ms_disc-box .ms_scale-1-2 .ms_scale-1-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ms_disc-box .ms_scale-1-2 .ms_scale-1-1 img:hover {
    transform: scale(0.9);
    border: 1px solid white;
    box-shadow:  10px 10px 10px 10px black;
}

.ms_disc-box .ms_scale-1-2 h4 {
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 24%;
    overflow-y: auto;
    text-overflow: ellipsis;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
    cursor: pointer;
}

.ms_disc-box .ms_scale-1-2 h4::-webkit-scrollbar {
    display: none;
}

.ms_disc-box .ms_scale-1-2 h4:hover {
    text-decoration: underline;
}

.ms_disc-box .ms_scale-1-2 p {
    color: #808080;
    margin: 0px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms_disc-box .ms_scale-1-2 p:first-of-type {
                margin-bottom: 5%;
                cursor: pointer;
}

.ms_disc-box .ms_scale-1-2 p:hover {
    text-decoration: underline;
}

.ms_loading {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.ms_loading div {
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(90deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}